@model ForgotPasswordViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ViewStar</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/ForgotAndResetPage.css" />
</head>
<body class="overlay">

    <form method="post" asp-action="ForgotPassword">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <section class="main text-center overlay">
            <div class="container py-5 h-100">
                <div class="row justify-content-center align-items-center h-100">
                    <div class="col-12 col-lg-9 col-xl-7">
                        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                            <div class="card-body p-4 p-md-5">
                                <div class=" d-flex justify-content-start">
                                    <h3 class="mb-1">Забыли пароль?</h3>
                                </div>
                                <hr />
                                <div class="form-outline mb-4">
                                    <div class=" d-flex justify-content-start">
                                        <label class="form-label"asp-for="Email">Введите email или логин</label>
                                    </div>
                                    <input type="email" asp-for="Email" class="form-control form-control-lg" />
                                    <div class="d-flex justify-content-start">
                                       <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>

                                <button class="btn btn-primary btn-lg btn-block" type="submit">Отправить</button>
                                <hr />
                                <div class="small">
                                    <label class="label-text">Вернуться <a asp-area="" asp-controller="Account" asp-action="Login"> назад</a> </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/homepage.js" asp-append-version="true"></script>
</body>
</html>
