@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ViewStar</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/ForgotAndResetPage.css" />
</head>
<body class="overlay">

    <section class="main text-center overlay">
        <div class="container py-5 h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-12 col-lg-9 col-xl-7">
                    <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                        <div class="card-body p-4 p-md-5">
                            <div class=" d-flex justify-content-center">
                                <h3 class="mb-1">Сброс пароля</h3>
                            </div>
                            <hr />

                            <h5>Для сброса пароля перейдите по ссылке в письме, которое было отправлено вам на почту.</h5>
                            <h6>P.S. (письмо может находиться в папке "Спам")</h6>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
