@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ViewStar</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/ForgotAndResetPage.css" />
</head>
<body class="overlay">

    <section id="main" class=" text-center overlay">
        <div class="container py-5 h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-12 col-lg-9 col-xl-7">
                    <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                        <div class="card-body p-4 p-md-5">
                            <div class=" d-flex justify-content-center">
                                <h3 class="mb-1">Подтверждения сброс пароля</h3>
                            </div>
                            <hr />

                            <h5>Ваш пароль был успешно сброшен.</h5>
                            <p>Для входа в приложение перейдите по <a asp-area="" asp-controller="Account" asp-action="Login">ссылке</a></p>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
