@model ResetPasswordViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ViewStar</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/ForgotAndResetPage.css" />
</head>
<body class="overlay">

    <form method="post" asp-action="ResetPassword">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <section id="main" class="text-center overlay">
            <div class="container py-5 h-100">
                <div class="row justify-content-center align-items-center h-100">
                    <div class="col-12 col-lg-9 col-xl-7">
                        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                            <div class="card-body p-4 p-md-5">
                                <div class=" d-flex justify-content-start">
                                    <h3 class="mb-1">Сброс пароля</h3>
                                </div>
                                <hr />
                                
                                <div class="form-outline mb-4">
                                    <div class=" d-flex justify-content-start">
                                        <label class="form-label" asp-for="Email">Логин</label>
                                    </div>
                                    <input type="email" asp-for="Email" class="form-control form-control-lg" >
                                    <div class="d-flex justify-content-start">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>                                    
                                </div>

                                <div class="form-outline mb-4">
                                    <div class="d-flex justify-content-start">
                                        <label class="form-label" asp-for="Password">Пароль</label>
                                    </div>
                                    <input type="password" asp-for="Password" class="form-control form-control-lg" />
                                    <div class="d-flex justify-content-start">
                                        <span asp-validation-for="Password" class="text-danger justify-content-start"></span>
                                    </div>                                   
                                </div>

                                <div class="form-outline mb-4">
                                    <div class="d-flex justify-content-start">
                                        <label class="form-label" asp-for="ConfirmPassword">Повторите пароль</label>
                                    </div>
                                    <input type="password" asp-for="ConfirmPassword" class="form-control form-control-lg" />
                                    <div class="d-flex justify-content-start">
                                        <span asp-validation-for="ConfirmPassword" class="text-danger justify-content-start"></span>
                                    </div>                                   
                                </div>

                                <button class="btn btn-primary btn-lg btn-block" type="submit">Сбросить</button>
                                <hr />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
