@model CrowdFundingApplication.Models.UserViewModel

@{
    ViewData["Title"] = "Баланс";
}
<form method="post" asp-action="Balance" >
<div style="height: 25px;"></div>
<div class="mt-5">
    <div class="row">
        <div class="col">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" style="color: black;" asp-area="" asp-controller="Profile" asp-action="Index">Профиль</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: black;"asp-area="" asp-controller="Profile" asp-action="CreatedProjects">Созданные проекты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" style="color: black;" aria-current="page" href="#">Управление балансом</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row mt-1">
        <div class="col">
            <div class="card shadow-2-strong card-registration" style="border-radius: 5px;">
                <div class="card-body p-2 p-md-5">
                    <h3 >Баланс</h3>
                    <div class=" d-flex justify-content-start">
                        <label class="form-label text-black-50" for="firstName">Ваш баланс</label>
                    </div>
                    <hr />

                        <div class="row">
                            <div class="col-md-6 mb-2 mt-3">
                                 <h2 class="form-label text-black">@Model.Balance BYN</h2>
                            </div>
                            <div class="col-md-6 mb-2 mt-3">
                                <a class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-backdrop="static" data-target="#exampleModalCenter" style="color: white; ">Пополнить баланс</a>
                            </div>
                        </div>


                </div>
            </div>
        </div>
    </div>

     <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Пополнение баланса</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Пожалуйста, введите необходимую сумму для оплаты
                    <div class="mt-2 d-flex justify-content-start">
                        <label class="form-label">Сумма к оплате</label>
                    </div>
                    <input type="number" class="form-control form-control-lg" required id="Sum" name="Sum"/>
                </div>
                <div class="modal-footer">
                    <div class="col" style="font-size: 10px;">
                        Нажимая «Перейти к оплате» вы даёте своё согласие на обработку персональных данных и соглашаетесь
                        с условиями пользовательского соглашения (Правилами платформы).
                    </div>
                    <div class="col">
                        <button class="btn btn-primary" type="submit" style="height:70px;">Перейти к оплате</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-light" style="height: 350px;"></div>

</div>
</form>