@{
    ViewData["Title"] = "Мои проекты";
}

<div style="height: 25px;"></div>
<div class="mt-5">
    <div class="row">
        <div class="col">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" style="color: black;" asp-area="" asp-controller="Profile" asp-action="Index">Профиль</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" style="color: black;" href="#">Созданные проекты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: black;" asp-area="" asp-controller="Profile" asp-action="Balance">Управление балансом</a>
                </li>
            </ul>
        </div>
    </div>
</div>