@{
    Layout = "_CreditCard";
}

  <div class="box">
        <div class="mdl">
            <div class="circles">
                <div class="circle circle-1"></div>
                <div class="circle circle-2"></div>
            </div>

            <h1 class="title" style="font-size: 27px; margin-left: 30px;">Ваша оплата прошла успешно &#10003; </h1>

            <a class="btn btn-primary btn-lg btn-block" asp-area="" asp-controller="Profile" asp-action="Balance" style="text-decoration: none; font-weight: bold;">ПРОДОЛЖИТЬ</a>

        </div>
    </div>