@{
    Layout = "_CreditCard";
}

<div class="box">
        <div class="mdl">
            <div class="circles">
                <div class="circle circle-1"></div>
                <div class="circle circle-2"></div>
            </div>

            <h1 class="title">Упс! Что-то пошло не так :(</h1>
            <h1 class="tittle">Ваша оплата не прошла! Возможно, при обработке платежа произошла ошибка или время вашего сеанса истекло</h1>

            <a class="btn btn-primary btn-lg btn-block" asp-area="" asp-controller="Profile" asp-action="Balance">Вернуться назад</a>

        </div>
</div>