<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ViewStar</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="bg-light">

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container text-white">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="MainPage">ViewStar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Проекты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Контакты</a>
                    </li>
                    <li>
                </ul>
                <form class="ml-auto d-flex">
                    <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search">
                    <button class="ml-2 btn btn-dark" type="submit">Поиск</button>
                </form>
                <ul class="navbar-nav ml-sm-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Project" asp-action="CreateProject">Создать проект</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Profile" asp-action="Index">Профиль</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="text-center py-5 bg-dark text-white">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="mb-0">
                        <a href="#">Github</a>
                        <a href="#">Linkedin</a>
                        <a href="#">Facebook</a>
                        <a href="#">Instagram</a>
                    </div>
                    <p class="mb-0 py-3">&copy; 2022 - Design by Nikita. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/FunctionsForSettings.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
